{% extends 'shop/basic.html' %}

{% block title %} About Us {% endblock %}

{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">SportsSporting</h1>
      <p> We are all delighted sportspeople who have turned our passion into our job, which is "to sustainably make the pleasure and benefits of sport accessible to the many". </p>
      <p><a class="btn btn-outline-danger btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>What Do You Love About Decathlon?</h2>
        <p>SportsSporting is famous for its great quality goods sold at extremely reasonable prices. ... The product price range starts from 150 rupees and lesser, truly making it the store for all. With their season clearance sales, it's like a sports paradise on earth </p>
        <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>What Is The Purpose Of SportsSporting</h2>
        <p>SportsSporting is dedicated to helping, inspiring and guiding you through your sports experiences. We believe that discovering new sports and being active – well, it's an important part of life – and living well shouldn't just be for a privileged few. The power of people and positivity is at the heart of our business. </p>
        <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>This is Who We Are | SportsSporting</h2>
        <p> SportsSporting is an E-Commerce website, and inspired by the belief that the best sports products should be accessible to everyone. SportsSporting is your one stop shop for buying sports goods online in India.</p>
        <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

{% endblock %}